################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/stefan_eksperimenti/NotaryCryptographicService/.vs
/stefan_eksperimenti/NotaryCryptographicService/NotaryCryptographicService/bin/Debug/net6.0
/stefan_eksperimenti/NotaryCryptographicService/NotaryCryptographicService/obj
/stefan_eksperimenti/ASPNET_Test/ASPNET_Test/.vs
/stefan_eksperimenti/ASPNET_Test/ASPNET_Test/ASPNET_Test/bin/Debug/net6.0
/stefan_eksperimenti/ASPNET_Test/ASPNET_Test/ASPNET_Test/obj
/SigningServer/.vs
/SigningServer/SigningServer/bin/Debug/net6.0
/SigningServer/SigningServer/obj
.vscode/tasks.json
.vscode/launch.json
.vs
/SigningServer/SigningServer/bin/Release/net6.0
