@model ProxyServer.Models.SignatureStatement

@{
    ViewData["Title"] = "Sign";
}

<div class="container signContainer">

    <div class="signHeader">
        <p>Upload (one or more) files for signing</p>

        <div id="dropArea" class="dropzone">
            <div class="dropHeader">
                Drag and drop files here
                <i class="fa-solid fa-file-import"></i>
            </div>
            <div class="dropBody"></div>
        </div>
    </div>

    <button class="btn btn-primary" id="signButton">Sign</button>
</div>

<script type="module" src="./js/sign.js" ></script>
