@model ProxyServer.Models.SignatureStatement

@{
    ViewData["Title"] = "Sign";
}

<div class="form-group">
    <p>Upload (one or more) files for signing:</p>
    <div class="col-md-10 form-control">
        <input type="file" name="Files" id="filesToSign" multiple="multiple"/> 
    </div>
</div>
<div class="form-group">
    <div class="col-md-10 form-control">
    <button class="btn btn-primary" id="signButton">Sign</button>
    </div>
</div>

<script type="module" src="./js/sign.js" ></script>
