@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Delegated Signing Server</h1>
    <p>Register and give permission to the server to sign documents on your behalf, using multiple Notary servers for redundancy and availability!</p>
</div>
<div class="container">
    <b>Step 1</b>: Register with a username and password
    <br />
    <b>Step 2</b>: Upload your document and receive a valid signature that can be verified by anyone
    <br />
    <b>Step 3</b>: If you need to verify a signature, upload it alongside the document and know if it's Valid
</div>

<div class="container mt-5">
    <form action="/Sign">
        <input class="btn btn-primary" type="submit" value="Go to Signing Page" />
    </form>
</div>
<div class="container mt-1">
    <form action="/Verify">
        <input class="btn btn-primary" type="submit" value="Go to Verification Page" />
    </form>
</div>