@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    #mydiv{
        margin-top: 6rem; 
        background-color: azure; 
        border-radius: 3%; 
        padding-top: 3rem; 
        padding-bottom: 3rem;
        font-size: larger;
        width:55%;
    }
    .user{
        color: #1abc9c;
        font-weight: bold;
    }
    h1{
        font-size: xx-large;
        font-weight: bold;
        color: #1abc9c;
    }
    .footer{
        line-height: 60px;
    }
</style>

<div id="mydiv" class="container-fluid">
<div class="container justify-content-center" id="prev">
<h1 class="text-center">This signature is not valid.</h1>
</div>
</div>