@{
    ViewData["Title"] = "Display Verify result";
    var signatureStatement = ViewBag.MainNav;
}


<h1>Verify Results</h1>

<p>User Id</p>
<p>signatureStatement.Id</p>
<p>Username</p>
<p>signatureStatement.Username</p>
<p>Message Digest</p>
<p>signatureStatement.MessageDigest</p>
<p>DateTime</p>
<p>signatureStatement.SignedOn.ToString()</p> 