html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: medium;
  }
}

.footer {
  margin-top: 200px;
}

#signButton {
  align-self: center;
  font-size: 1.7em;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 2em;
  margin-left: 1em;
  align-self: center;
}

#verifyButton {
  align-self: center;
  font-size: 1.7em;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 2em;
  margin-left: 1em;
  align-self: center;
  margin-top: 1em;
}

.signHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}

.signHeader > p {
  font-size: 2em;
  margin-bottom: 1em;
}

.verifyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.verifyHeader > p {
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 25px;
  text-align: center;
}

.signContainer .btn-primary, #verifyButton {
    font-weight: bold;
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    margin-top: 20px;
}

.signContainer .btn-primary:focus, #verifyButton:focus, .signContainer .btn-primary:active, #verifyButton:active {
    box-shadow: none;
    border: 2px solid white;
}