@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<style>
    #mydiv{
        margin-top: 5rem;
    }
</style>
<div id="mydiv">
<h1 class="fw-bold">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
