@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<style>
    #mydiv{
        margin-top: 6rem; 
        background-color: azure; 
        border-radius: 3%; 
        padding-top: 3rem; 
        padding-bottom: 3rem;
        font-size: larger;
        width:55%;
    }
    .footer{
        line-height: 60px;
    }
</style>

<div id="mydiv" class="container-fluid">
<h1 class="text-center">@ViewData["Title"]</h1>
 <div class="container d-flex justify-content-center" id="prev">
<p>
    Please check your email to reset your password.
</p>
</div>
</div>

