@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    #mydiv{
        margin-top: 6rem; 
        background-color: azure; 
        border-radius: 3%; 
        padding-top: 3rem; 
        padding-bottom: 3rem;
        font-size: larger;
        width:69%;
    }
    .btn, .btn:hover{
        font-weight:bold; 
        color:#fff; 
        background-color: #212529; 
        border-color: #212529;
    }
    .btn:focus, .btn:active, .form-control:focus{
       box-shadow: none;
       border: 3px solid #1abc9c;
    }
    a{
        text-decoration: none; 
        color: #1abc9c; 
        font-weight: bold; 
    }
    a:hover{
        color: #1abc9c;
    }
    h1{
        font-size: xxx-large;
        font-weight: bold;
    }
    .footer{
        line-height: 60px;
    }
</style>

<div id="mydiv" class="container-fluid">
    <h1 class="text-center">@ViewData["Title"]</h1>
<div class="container d-flex justify-content-center" id="prev">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
