@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<style>
    #mydiv{
        margin-top: 6rem; 
        background-color: azure; 
        border-radius: 3%; 
        padding-top: 3rem; 
        padding-bottom: 3rem;
        font-size: larger;
        width:55%;
    }
    a{
        text-decoration: none; 
        color: #1abc9c; 
        font-weight: bold; 
    }
    a:hover{
        color: #1abc9c;
    }
    h1{
        font-size: xxx-large;
        font-weight: bold;
    }
    .footer{
        line-height: 60px;
    }
</style>

<div id="mydiv" class="container-fluid">
    <h1 class="text-center">@ViewData["Title"]</h1>
<div class="container d-flex justify-content-center" id="prev">

    @{
    if (@Model.DisplayConfirmAccountLink)
    {
<p class="text-center">
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

</div>
</div>

