<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Signing Server</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     <link rel="stylesheet" href="~/SigningServer.styles.css" />
    <link href="@Url.Content("~/css/Layout.css")" rel="stylesheet" type="text/css" />@RenderSection("Styles", false)
    <link rel="stylesheet" href="~/css/attachArea.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/26c830ab51.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
            <div class="container-fluid">
                <img class="img-fluid" src="~/content/server.png"/> 
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Signing Server</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ms-3">
                            <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Sign" asp-action="Index">Sign</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Verify" asp-action="Index">Verify</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid container-lg" id="main_content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-center bg-dark text-white align-items-baseline">
        <div class="container">
            &copy; 2022 - Signing Server</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
