@model ProxyServer.Models.SignatureStatement

@{
    ViewData["Title"] = "Verify";
}

<div class="container verifyContainer">

    <div class="verifyHeader">
        <p>Upload .zip file for verification</p>

        <div id="dropArea" class="dropzone">
            <div class="dropHeader">
                Drag and drop your .zip file here
                <i class="fa-solid fa-file-import"></i>
            </div>
            <div class="dropBody"></div>
        </div>
    </div>

    <button class="btn btn-primary" id="verifyButton">
        <i class="fa-solid fa-circle-check"></i>
        Verify
    </button>
</div>

<script type="module" src="./js/verify.js" ></script>
