@{
    ViewData["Title"] = "Home";
}

<div id="body" class="d-flex">
<div id="main">
<div class="text-center">
    <h1 class="display-4">Delegated Signing Server</h1>
    <p class="text-dark text-muted">Register and give permission to the server to sign documents on your behalf or verify other people's signed documents anonymously!</p>
</div>
<div class="container mt-4 text-center steps">
    <b>Step 1</b>: If you need to create a signature for a list of files, register with a username and password
    <br />
    <b>Step 2</b>: Upload your document and receive a valid signature that can be verified by anyone
    <br />
    <b>Step 3</b>: If you need to verify a signature, upload it alongside the document to know the identity of the signer
</div>

<div class="container mt-4 d-flex justify-content-between text-center">
<div class="container mt-4">
        <a class="btn btn-lg btn-primary" href="Sign">Upload File for Signing</a>
</div>
<div class="container mt-4">
        <a class="btn btn-lg btn-primary" href="Verify">Verify File</a>
</div>
</div>
</div>
</div>


